<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="LightCoreConfiguration" type="LightCore.Configuration.XamlConfigSectionHandler, LightCore.Configuration"/>
  </configSections>
  <LightCoreConfiguration ActiveRegistrationGroups="Xml" xmlns="clr-namespace:LightCore.Configuration;assembly=LightCore.Configuration">
    <LightCoreConfiguration.TypeAliases>
      <TypeAlias Alias="Int" Type="System.Int32, mscorlib"/>
      <TypeAlias Alias="Boolean" Type="System.Boolean, mscorlib"/>
    </LightCoreConfiguration.TypeAliases>
    <LightCoreConfiguration.Registrations>
      <Registration ContractType="LightCore.TestTypes.IRepository{2}, LightCore.TestTypes" ImplementationType="LightCore.TestTypes.Repository{2}, LightCore.TestTypes"/>
      <Registration ContractType="LightCore.TestTypes.IFoo, LightCore.TestTypes" ImplementationType="LightCore.TestTypes.Foo, LightCore.TestTypes">
        <Registration.Arguments>
          <Argument Value="true" Type="System.Boolean"/>
        </Registration.Arguments>
      </Registration>
    </LightCoreConfiguration.Registrations>
    <LightCoreConfiguration.RegistrationGroups>
      <RegistrationGroup Name="Xml">
        <RegistrationGroup.Registrations>
          <Registration ContractType="LightCore.ConsoleClient.IWriter, LightCore.ConsoleClient" ImplementationType="LightCore.ConsoleClient.Writers.ConsoleWriter, LightCore.ConsoleClient"/>
          <Registration ContractType="LightCore.ConsoleClient.Screens.WelcomeScreen, LightCore.ConsoleClient" ImplementationType="LightCore.ConsoleClient.Screens.WelcomeScreen, LightCore.ConsoleClient">
            <Registration.Arguments>
              <Argument Value="Hello World"/>
            </Registration.Arguments>
          </Registration>
        </RegistrationGroup.Registrations>
      </RegistrationGroup>
    </LightCoreConfiguration.RegistrationGroups>
  </LightCoreConfiguration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
</configuration>
