<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="LightCoreConfiguration" type="LightCore.Configuration.XamlConfigSectionHandler, LightCore.Configuration" />
    </configSections>
    <LightCoreConfiguration xmlns="clr-namespace:LightCore.Configuration;assembly=LightCore.Configuration">
        <LightCoreConfiguration.Defaults>
            <LightCoreConfigurationDefaults
                        DefaultAssembly="LightCore.ConsoleClient"
                        DefaultContractNamespace="LightCore.ConsoleClient"
                        DefaultImplementationNamespace="LightCore.ConsoleClient.Writers" />
        </LightCoreConfiguration.Defaults>
        <LightCoreConfiguration.Registrations>
            <Registration ContractType="IWriter" ImplementationType="ConsoleWriter"/>
            <Registration  Name="NamedScreen" ContractType="IScreen" ImplementationType="LightCore.ConsoleClient.Screens.WelcomeScreen" Arguments="Hello World"/>
        </LightCoreConfiguration.Registrations>
    </LightCoreConfiguration>
</configuration>