<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="LightCoreConfiguration" type="LightCore.Configuration.XamlConfigSectionHandler, LightCore.Configuration" />
    </configSections>
    <LightCoreConfiguration DefaultLifecycle="Transient" ActiveGroupConfigurations="Xml" xmlns="clr-namespace:LightCore.Configuration;assembly=LightCore.Configuration">
        <LightCoreConfiguration.TypeAliases>
            <TypeAlias Alias="jdfkj" Type="kjfdjfd" />
            <TypeAlias Alias="jdfkj" Type="kjfdjfd" />
        </LightCoreConfiguration.TypeAliases>
        <LightCoreConfiguration.Registrations>
            <Registration ContractType="LightCore.ConsoleClient.IWriter, LightCore.ConsoleClient" ImplementationType="LightCore.ConsoleClient.Writers.ConsoleWriter, LightCore.ConsoleClient"/>
            <!--<Registration  Name="NamedScreen" ContractType="LightCore.ConsoleClient.IScreen, LightCore.ConsoleClient" ImplementationType="LightCore.ConsoleClient.Screens.WelcomeScreen, LightCore.ConsoleClient" Arguments="Hello World"/>-->
            <Registration  Name="NamedScreen" ContractType="LightCore.ConsoleClient.Screens.WelcomeScreen, LightCore.ConsoleClient" ImplementationType="LightCore.ConsoleClient.Screens.WelcomeScreen, LightCore.ConsoleClient" Arguments="Hello World"/>
        </LightCoreConfiguration.Registrations>
    </LightCoreConfiguration>
</configuration>